---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
  />

  <div class="container-index">
    <aside class="left"></aside>
    <div class="container-index-main"></div>
    <aside class="right"></aside>
  </div>
</Layout>
